*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(129, 12, 12);
}

.container{
    display: flex;
    flex-direction: column;
    background: rgb(245, 245, 245);
    min-height: 600px;
    color:#740202;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 7px 7px 7px 7px #501a1a8c;
}

h1{
    text-align: center;
    border-bottom: 0.6px solid #500303;
    width: 20%;
    margin-right: 26%;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

input{
    padding: 16px;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    
}

label{
    margin-top: 10px;
}

button{
    padding: 16px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: rgb(153, 3, 3);
    color: #eee;
    font-size: 20px;
}